/* *********************NAVIGATION BAR********************************* */

#navbar {
    flex-direction: column;
}

#logo img {
    width: 13.5vw;
}

#navbar ul li a {
    font-size: 4.3vw;
}


/* **********************HOME ********************************************** */

#home {
    height: 500px;
}

#home::before {
    height: 533px;
}


/* **********************SERVICES SECTION******************************************* */

.box {
    padding: 2.5vw;
}

.box img {
    width: 35vw;
}

.services {
    flex-direction: column;
}


/* ************************CLEINT SECTION************************************* */

.client-item img {
    width: 13vw;
}

#client-section {
    height: 170px;
}

#client-section::before {
    top: -21px;
    height: 176px;
}

#client-section h1 {
    margin-bottom: 32px;
}


/* *******************CONTACT FORM **************************************** */

.form-div label {
    font-size: 5.4vw;
}

#contact-form form div input {
    font-size: 4vw;
    width: 60%;
}

#contact-form form div textarea {
    width: 60%;
}

#contact-form {
    top: 10px;
    height: 580px;
}

#contact-form::before {
    height: 553px;
}


/* ************************UTILITY CLASS******************************** */

footer {
    font-size: 4vw;
}

.btn-primary {
    font-size: 3vw;
}

.h-primary {
    text-align: center;
    font-size: 9.5vw;
}

.p-primary {
    font-size: 4vw;
    padding: 10px;
}

.h2-primary {
    font-size: 7vw;
}