/* *********************NAVIGATION BAR********************************* */

#navbar ul li a {
    /* color: white;
    padding: 0.3vw 1vw;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder; */
    font-size: 1.8vw;
}

#logo img {
    width: 4vw;
    /* border-radius: 30px; */
}


/* ************************UTILITY CLASS******************************** */

.p-primary {
    /* font-family: 'Rajdhani', sans-serif; */
    font-size: 1.5vw;
}